extends layout

block content
  h1 HCI Prototyp
  input(type='text', name='groupID', placeholder='Code eingeben...', class='controls')
  button.enterGroup(type='button', class='nonImageButton controls') Beitreten
  div(class='clear')
  button.createGroup(type='button', class='nonImageButton controls') Zufälligen Code generieren!
  script.
    $('.createGroup').click(function(){
      console.log('groupID: ', generateGroupID());
      //route('/overview');
      //window.location.href = ''+ generateGroupID();
      $('input').val(generateGroupID());
    });

    $('.enterGroup').click(function(){
      console.log('groupID: ', $('input').val());
      window.location.href = $('input').val();
    });

    $('input').keyup(function(e){
      if(e.keyCode == 13)
      {
        window.location.href = $('input').val();
      }
    });

    function generateGroupID() {
      var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for (var i = 0; i < 5; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));

      return text;
    }