extends layout

block content
  h1 Umfrageergebnisse
  canvas#auditResults
  script.
    var ctx = document.getElementById("auditResults").getContext('2d');
    var chart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ["Nicht interessiert", "Ich komme nicht hinterher", "Ich langweile mich", "Ich verstehe das nicht", "Alles bestens"],
            datasets: [{
                label: 'Anzahl der Stimmen',
                data: [0, 0, 0, 0, 0],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

    $.get( window.location.pathname + '/getData', function(data) {
        var newDataObject = {
                labels: ["Nicht interessiert", "Ich komme nicht hinterher", "Ich langweile mich", "Ich verstehe das nicht", "Alles bestens"],
                datasets: [{
                    label: 'Anzahl der Stimmen',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
        }

        chart.config.data = newDataObject;

        chart.update(0);
    });

    setInterval(function(){
        console.log('Updating chart!');
        $.get( window.location.pathname + '/getData', function(data) {
            var newDataObject = {
                    labels: ["Nicht interessiert", "Ich komme nicht hinterher", "Ich langweile mich", "Ich verstehe das nicht", "Alles bestens"],
                    datasets: [{
                        label: 'Anzahl der Stimmen',
                        data: data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
            }

            chart.config.data = newDataObject;

            chart.update(0);
        });

    }, 1000);