extends layout

block content
  #codeform
    .round-button.student(type='button')
      img(src='/img/graduate.svg' alt='Icon of a student')
    .round-button.dozent(type='button')
      img(src='/img/classroom.svg' alt='Icon of a classroom')
  img.logo(src="/img/hs_logo.png", alt='Logo der Hochschule Flensburg')

  script.
    $('.dozent').click(function(){
      window.location.href = window.location.pathname + '/lecturer';
    });
    $('.student').click(function(){
      window.location.href = window.location.pathname + '/student';
    });