extends layout

block content
  #codeform
    button(type='button', value='1', class='imageButton') 
      img(src="/img/yawning.png", alt="Kein Interesse", class="buttonImg")
      div(class="buttonDiv") Kein Interesse

    button(type='button', value='2', class='imageButton') 
      img(src="/img/rabbit.png", alt="Zu schnell", class="buttonImg")
      div(class="buttonDiv") Zu schnell

    button(type='button', value='3', class='imageButton') 
      img(src="/img/snail.png", alt="Zu langsam", class="buttonImg")
      div(class="buttonDiv") Zu langsam

    button(type='button', value='4', class='imageButton') 
      img(src="/img/questions.png", alt="Verständnisprobleme", class="buttonImg")
      div(class="buttonDiv") Verständnisprobleme

    button(type='button', value='5', class='imageButton') 
      img(src="/img/like.png", alt="Verstanden", class="buttonImg")
      div(class="buttonDiv") Verstanden

    button(type='button', value='0', class='imageButton') 
      //img(src="/img/like.png", alt="Keine Meinung", class="buttonImg")
      div(class="buttonDiv") Keine Meinung
  img.logo(src="/img/hs_logo.png", alt='Logo der Hochschule Flensburg')

  script.
    new Fingerprint2().get(function(result, components) {
      var object = {
        browserID: result
      }
      ajaxPost(window.location.pathname + '/getState', object, function(err, data){
        if(data){
          console.log('Current state is: ', data.state);
          $('button[value='+ data.state +']').addClass("selectedButton");
          $('.buttons').show();
        } else {
          $('.buttons').show();
          $('button[value='+ data.state +']').removeClass("selectedButton");
        }
      });
    });
    
    $('button').click(function(){
      $('button').removeClass("selectedButton");
      $(this).addClass("selectedButton");
      var pathname = window.location.pathname;
      var selectedState = this.value;
      new Fingerprint2().get(function(result, components) {
        console.log('userID: ', result) // a hash, representing your device fingerprint
        var state = {
          state: selectedState,
          browserID: result
        }
        ajaxPost(pathname + '/addState', state, function(err, data){
          if(!err){
            console.log('State posted.');
          }
        });
      });
    });

    function ajaxPost(url, data, callback) {
      $.ajax({
          type: "POST",
          url: url,
          contentType: "application/json; charset = utf-8",
          datatype: "json",
          data: JSON.stringify(data),
          success: (data) => {
              callback(null, data)
          },
          error: (err) => {
              callback(err, null)
          }
      });
    }