extends layout

block content
  h1 Wähle deinen Status:
  .buttons(style='display: none;')
    button(type='button', value='1') Nicht interessiert
    br
    br
    button(type='button', value='2') Ich komme nicht hinterher
    br
    br
    button(type='button', value='3') Ich langweile mich
    br
    br
    button(type='button', value='4') Ich verstehe das nicht
    br
    br
    button(type='button', value='5') Alles bestens

  script.
    new Fingerprint2().get(function(result, components) {
      var object = {
        browserID: result
      }
      ajaxPost(window.location.pathname + '/getState', object, function(err, data){
        if(!err){
          console.log('Current state is: ', data);
          $('button[value='+ data +']').css("border-color","lightblue");
          $('.buttons').show();
        }
      });
    });
    
    $('button').click(function(){
      $('button').css("border-color","");
      $(this).css("border-color","lightblue");
      var pathname = window.location.pathname;
      var selectedState = this.value;
      new Fingerprint2().get(function(result, components) {
        console.log('userID: ', result) // a hash, representing your device fingerprint
        var state = {
          state: selectedState,
          browserID: result
        }
        ajaxPost(pathname + '/addState', state, function(err, data){
          if(!err){
            console.log('State posted.');
          }
        });
      });
    });

    function ajaxPost(url, data, callback) {
      $.ajax({
          type: "POST",
          url: url,
          contentType: "application/json; charset = utf-8",
          datatype: "json",
          data: JSON.stringify(data),
          success: (data) => {
              callback(null, data)
          },
          error: (err) => {
              callback(err, null)
          }
      });
    }