
.icon-yawning:before { content: '\e803'; } /* '' */
.icon-rabbit:before { content: '\e804'; } /* '' */
.icon-snail:before { content: '\e805'; } /* '' */
.icon-questions:before { content: '\e806'; } /* '' */
.icon-like:before { content: '\e807'; } /* '' */