
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.clear{
  width: 100%;
  height: 1px;
  clear: both;
}

.ButtonState{
  display: none
}
.Button{
  padding: 3px; 
  margin: 4px; 
  background:#CCC; 
  border: 1px solid #333;
  cursor: pointer;
}
.ButtonState:checked + .Button{
  background:#fff;
}

.nonImageButton{
  background-color: #99cccc;
  color: white;
  cursor: pointer;
}

.imageButton{
  background-color: #99cccc;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  width: 100%;
  min-width: 380px;
  max-width: 500px;
  padding: 10px;
  margin: 0 15px 15px 0;
}

.buttonImg{
  width: 50px;
  height: 50px;
  float: left;
}

.buttonDiv{
  width: 78%;
  height: 24px;
  float: right;
  text-align: left;
  margin: 14px 0;
}

.selectionButton{
  width: 100%;
  height: 250px;
  border: 1px solid #999999;
  font-size: 40px;
  color: white;
}

.controls{
  border: 1px solid #999999;
  font-size: 20px;
  margin: 1px 10px 10px 1px;
  padding: 0 10px 0 10px;
  min-width: 125px;
  height: 45px;
  float: left;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.contentDiv{
  width: 100%;
  margin: auto;
  max-width: 1000px;
}